
/* Threads List */
.nk-forum {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
        display: table;
        padding: 60px;
        width: 100%;
        background-color: $color_dark_1;

        @media #{$media_smaller_sm} {
            padding: 40px;
        }

        + li {
            padding-top: 0;
        }

        // locked
        &.nk-forum-locked > * {
            opacity: 0.4;
        }

        > * {
            display: table-cell;
            vertical-align: top;
        }

        .nk-forum-icon,
        .nk-forum-title {
            padding-right: 25px;
        }
        .nk-forum-count {
            padding-right: 35px;
        }

        .nk-forum-icon {
            min-width: 55px;
        }
        .nk-forum-icon > span {
            line-height: 1;
            display: block;
            font-size: 1.8rem;
        }

        .nk-forum-title {
            width: 100%;

            > h2,
            > h3,
            > h4 {
                font-size: 1.2rem;
                margin-bottom: 0;

                > a {
                    transition: .2s opacity;
                }
                > a,
                > a:hover,
                > a:focus,
                > a:active {
                    color: inherit;
                    text-decoration: none;
                }
                > a:hover,
                > a.hover {
                    opacity: 0.8;
                }
            }

            .nk-forum-title-sub {
                font-size: 0.9rem;
                margin-top: 10px;
                font-style: italic;

                a {
                    color: inherit;
                    font-weight: bold;
                }
            }
        }

        .nk-forum-count {
            font-size: 0.9rem;
            white-space: nowrap;
        }

        .nk-forum-activity-avatar {
            img {
                width: 34px;
                height: auto;
                border-radius: 17px;
                margin-right: 15px;
                float: left;
            }
        }
        .nk-forum-activity {
            min-width: 130px;
            max-width: 130px;

            .nk-forum-activity-date {
                font-size: 0.9rem;
                font-style: italic;
            }

            .nk-forum-activity-title {
                font-size: 0.9rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                > a {
                    transition: .2s opacity;
                    width: 100%;
                }
                > a,
                > a:hover,
                > a:focus,
                > a:active {
                    color: inherit;
                    text-decoration: none;
                }
                > a:hover,
                > a.hover {
                    opacity: 0.8;
                }
            }
        }

        @media #{$media_smaller_md} {
            .nk-forum-activity {
                display: none;
            }
        }
        @media #{$media_smaller_sm} {
            .nk-forum-count,
            .nk-forum-activity-avatar {
                display: none;
            }
        }
        @media #{$media_xxs} {
            .nk-forum-icon {
                display: none;
            }
        }
    }
}

/* Single Topic */
.nk-forum-topic {
    > li,
    > li + li {
        padding-top: 60px;
    }
    > li + li {
        margin-top: 50px;
    }
    > li {
        display: block;
        > * {
            display: block;
        }

        .nk-forum-topic-author {
            width: 120px;
            float: left;
            text-align: center;
        }
        .nk-forum-topic-author img {
            margin: 0 auto;
            width: 70px;
            height: auto;
            border-radius: 35px;
        }

        .nk-forum-topic-author-name {
            font-size: 1.2rem;
            margin-top: 20px;
            margin-bottom: 10px;
            font-family: $font_headings;
            font-weight: bold;

            > a {
                transition: .2s opacity;
            }
            > a,
            > a:hover,
            > a:focus,
            > a:active {
                color: inherit;
                text-decoration: none;
            }
            > a:hover,
            > a.hover {
                opacity: 0.8;
            }
        }

        .nk-forum-topic-author-since {
            font-size: 0.9rem;
            opacity: 0.6;
            margin-top: 10px;
        }

        .nk-forum-topic-content {
            margin-left: 160px;

            p:last-child {
                margin-bottom: 0;
            }
        }

        .nk-forum-topic-footer {
            position: relative;
            clear: both;
            padding-top: 70px;

            &:before {
                content: '';
                position: absolute;
                display: block;
                left: 0;
                top: 35px;
                right: 0;
                border-top: 1px solid $color_dark_2;
            }
            &:after {
                content: '';
                display: block;
                clear: both;
            }

            .nk-forum-topic-date {
                font-size: 0.9rem;
            }
            .nk-forum-action-btn {
                font-size: 0.9rem;
                float: right;

                > a > span {
                    vertical-align: middle;
                    margin-right: 5px;
                }

                > a,
                > span {
                    transition: .2s background-color;
                    padding: 7px 14px;
                    border-radius: 2px;
                }
                > a,
                > a:hover,
                > a:focus,
                > a:active {
                    color: inherit;
                    text-decoration: none;
                }
                > a:hover,
                > a.hover,
                > span:hover,
                > span.hover {
                    background-color: $color_dark_2;
                }
            }
        }

        .nk-forum-topic-attachments {
            margin-top: 40px;
            padding: 40px;
            background-color: $color_dark_2;
        }

        @media #{$media_smaller_xs} {
            padding: 30px;

            + li {
                padding-top: 30px;
            }

            .nk-forum-topic-author {
                width: 100%;
                float: none;
                text-align: left;

                &:after {
                    content: '';
                    display: table;
                    clear: both;
                    margin-bottom: 25px;
                }

                img {
                    width: 50px;
                    height: auto;
                    margin: 0;
                    float: left;
                }

                .nk-forum-topic-author-name {
                    margin-left: 70px;
                    margin-top: 0;
                    margin-bottom: 0;
                    line-height: 1.4;
                }
                .nk-forum-topic-author-role {
                    margin-left: 70px;
                    font-size: 0.8rem;
                }

                .nk-forum-topic-author-since {
                    display: none;
                }
            }
            .nk-forum-topic-content {
                margin-left: 0;
            }
        }
    }
}
