.nk-header-title {
    position: relative;
    display: block;
    color: #fff;
    text-align: center;
    overflow: hidden;
    padding-top: 75px;
    margin: 0 auto;
    background-color: $color_dark_1;
    z-index: 0;

    // boxed
    &.nk-header-title-boxed {
        max-width: 1250px;
    }

    // size default
    .nk-header-table {
        height: 350px;
    }

    // size small
    &.nk-header-title-sm .nk-header-table {
        height: 250px;
    }

    // size mid
    &.nk-header-title-md .nk-header-table {
        height: 450px;
    }

    // size large
    &.nk-header-title-lg .nk-header-table {
        height: 550px;
    }

    // size x-large
    &.nk-header-title-xl .nk-header-table {
        height: 650px;
    }

    // size full
    &.nk-header-title-full {
        padding-top: 0;
        min-height: 700px;
        height: 100vh;
    }
    &.nk-header-title-full .nk-header-table {
        height: 100%;
        min-height: 700px;
    }

    .nk-header-table {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    .nk-header-table-cell {
        display: table-cell;
        vertical-align: middle;
        padding: 60px 0;
    }

    // sub title
    .nk-sub-title {
        color: inherit;
    }

    // text bottom
    .nk-header-text-bottom {
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: rgba($color_dark_1, 0.4);
    }
    &.nk-header-title-full .nk-header-text-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
