
/* Menu */
.nk-social-menu,
.nk-social-menu-inline {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        > li > a {
            display: block;
            padding: 6.5px 0;
            margin: 10px 0;
            transition: .2s color;

            &,
            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
                color: inherit;
            }

            &:hover {
                color: darken($color_gray_4, 35%);
            }
        }
        > li.active > a {
            color: $color_main_1;
        }
    }

    .nk-badge {
        color: #fff;
        float: right;
        margin-top: 6px;
    }
}
.nk-social-menu-inline ul {
    margin-left: -16.5px;
    margin-right: -16.5px;
    margin-bottom: 16.5px;

    > li {
        display: inline-block;

        > a {
            padding: 6.5px;
            margin: 10px;
        }
    }
}

/* Profile Info */
.nk-social-profile {
    position: relative;
    z-index: 1;

    &.nk-social-profile-container-offset {
        margin-top: -100px;
    }

    .nk-social-profile-avatar {
        padding-right: 40px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .nk-social-profile-info-last-seen {
        font-size: 0.9rem;
        opacity: 0.6;
        float: right;
        margin-top: 18px;
    }

    .nk-social-profile-info-admins {
        max-width: 50%;
        padding-top: 15px;
        float: right;
        text-align: right;

        > h2 {
            font-size: 0.9rem;
            opacity: 0.6;
            font-family: inherit;
            font-weight: inherit;
            margin-bottom: 0;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            margin-top: 15px;
            margin-left: -8px;
            margin-right: -8px;

            &:after {
                content: '';
                display: block;
                clear: both;
            }

            > li {
                float: right;
                margin: 8px;
            }

            img {
                width: 40px;
                height: auto;
                border-radius: 20px;
            }
        }
    }

    .nk-social-profile-info-username {
        font-size: 0.9rem;
        opacity: 0.6;
        padding-top: 15px;
    }

    .nk-social-profile-info-actions {
        margin-top: 15px;
    }

    .nk-social-profile-info-description {
        margin-top: 15px;
    }
}

@media #{$media_smaller_sm} {
    .nk-social-profile {
        .nk-social-profile-avatar {
            padding-right: 0;

            img {
                max-width: 220px;
            }
        }
    }
}
@media #{$media_smaller_xs} {
    .nk-social-profile {
        .nk-social-profile-info-last-seen {
            display: none;
        }
        .nk-social-profile-info-admins {
            float: none;
            max-width: 100%;
            text-align: left;

            ul > li {
                float: left;
            }
        }
    }
}

/* Content */
.nk-social-container {
    background-color: $color_dark_1;
    padding: 70px;

    @media #{$media_smaller_xs} {
        padding: 30px;
    }
}

/* Sort */
.nk-social-sort {
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: auto;

    &:after {
        content: '';
        display: block;
        clear: both;
    }

    label {
        white-space: nowrap;
        margin-bottom: 0;
        margin-right: 10px;
    }

    @media #{$media_smaller_sm} {
        width: 100%;
    }
}

/* Activity */
.nk-social-activity {
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
        display: flex;
    }

    > li + li {
        margin-top: 45px;
    }

    .nk-social-activity-avatar img {
        width: 60px;
        height: auto;
        border-radius: 30px;
        margin-right: 25px;
    }

    .nk-social-activity-content {
        flex: 1;
    }

    .nk-social-activity-meta {
        font-size: 0.9em;
        background-color: $color_dark_2;
        padding: 5px 15px;
        margin-bottom: 15px;

        .nk-social-activity-meta-time {
            color: inherit;
        }

        img {
            width: 20px;
            border-radius: 10px;
            margin-left: 2px;
            height: auto;
        }
    }
    .nk-social-activity-mention {
        color: inherit;
        font-weight: bold;
    }

    .nk-social-activity-actions {
        margin-top: 15px;
        font-size: 0.9em;
        text-align: right;

        a {
            color: inherit;
            text-decoration: none;
            transition: .2s color;
        }
        a:hover {
            color: darken($color_gray_4, 35%);
        }
        > * + * {
            margin-left: 12px;
        }

        .nk-badge {
            vertical-align: top;
            color: #fff;
        }

        .nk-action-heart > span {
            font-size: 0.9rem;
            margin-right: 2px;
        }
    }

    // comments
    .nk-social-activity-comments,
    .nk-social-activity-replies {
        list-style-type: none;
        margin: 0;
        padding: 0;

        > li {
            margin-top: 30px;
            display: flex;
        }

        .nk-social-activity-avatar img {
            width: 30px;
            height: auto;
            border-radius: 15px;
            margin-right: 20px;
        }
    }
    .nk-social-activity-comments-show-all a {
        display: block;
        text-decoration: none;
        color: inherit;
        text-align: center;
        width: 100%;
        padding: 10px 0;
        font-style: italic;
    }
    .nk-social-activity-load-more {
        display: block;
        text-align: center;
    }
}

/* Notifications */
.nk-social-notifications {

    table {
        margin-bottom: 0;
    }

    .nk-social-notifications-bulk-select {
        width: 10px;
    }

    .nk-social-notifications-description {
        width: 55%;
    }

    .nk-social-notifications-description a,
    .nk-social-notifications-actions a {
        color: inherit;
        text-decoration: none;
        transition: .3s color;

        &:hover {
            color: darken($color_gray_4, 35%);
        }
    }

    .nk-social-notifications-actions {
        font-size: 0.9em;
        margin-left: -5px;
        margin-right: -5px;

        a {
            white-space: nowrap;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}
.nk-social-notifications-options,
.nk-social-messages-options {
    display: flex;
    align-items: center;
    width: 50%;

    select {
        margin-right: 10px;
    }

    @media #{$media_smaller_sm} {
        width: 100%;
    }
}


/* Messages */
.nk-social-messages {
    .nk-social-messages-description {
        position: relative;
        padding: 20px;
        padding-left: 80px;
    }

    .nk-social-messages-unread {
        background-color: rgba(255, 255, 255, 0.03);
    }

    .nk-social-messages-since {
        font-size: 0.9rem;
        float: right;
        font-style: italic;
        color: inherit;
        margin-left: 10px;
        margin-bottom: 10px;
        opacity: 0.3;
        line-height: 1.2;
        transition: .3s opacity, .3s visiblity;
    }
    .nk-social-messages-remove,
    .nk-social-messages-favorite {
        position: absolute;
        right: 20px;
        top: 15px;
        font-size: 1.1rem;
        color: inherit;
        text-decoration: none;
        opacity: 0;
        visibility: hidden;
        transition: .3s opacity, .3s visiblity;
    }
    .nk-social-messages-favorite {
        right: 45px;
    }
    tr:hover .nk-social-messages-since {
        opacity: 0;
        visibility: hidden;
    }
    tr:hover .nk-social-messages-remove,
    tr:hover .nk-social-messages-favorite {
        opacity: 0.3;
        visibility: visible;

        &:hover {
            opacity: 0.8;
        }
    }

    .nk-social-messages-from {
        float: left;
        margin-left: -60px;

        img {
            width: 40px;
            height: auto;
            border-radius: 20px;
        }
        a {
            text-decoration: none;
        }
    }

    .nk-social-messages-subject {
        line-height: 1;
        margin-bottom: 10px;

        a {
            color: inherit;
            font-weight: bold;
            text-decoration: none;
            transition: .3s color;

            &:hover {
                color: darken($color_gray_4, 35%);
            }
        }
    }
    .nk-social-messages-excerpt {
        a {
            color: darken($color_gray_4, 35%);
            text-decoration: none;
            transition: .3s color;

            &:hover {
                color: darken($color_gray_4, 50%);
            }
        }
    }


    @media #{$media_smaller_xs} {
        .nk-social-messages-description {
            padding-left: 20px;
        }
        .nk-social-messages-from {
            margin-left: 0;
            margin-right: 20px;
        }
    }
}

/* Single Message */
.nk-social-messages-single {
    display: flex;
    margin-top: 45px;

    .nk-social-messages-single-avatar img {
        width: 60px;
        height: auto;
        border-radius: 30px;
        margin-right: 25px;
    }

    .nk-social-messages-single-content {
        flex: 1;
    }

    .nk-social-messages-single-meta {
        font-size: 0.9em;
        background-color: $color_dark_2;
        padding: 5px 15px;
        margin-bottom: 15px;

        .nk-social-messages-single-meta-name {
            font-size: 1.1rem;
            margin-right: 10px;
        }

        .nk-social-messages-single-meta-favorite {
            color: inherit;
            text-decoration: none;
            font-size: 1.1rem;
            float: right;
        }

        .nk-social-messages-single-meta-time {
            color: inherit;
        }

        img {
            width: 20px;
            border-radius: 10px;
            margin-left: 2px;
            height: auto;
        }
    }
}


/* Firends */
.nk-social-friends {
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
        position: relative;
        display: flex;
    }

    > li + li {
        margin-top: 30px;
        padding-top: 30px;

        &:before {
            content: '';
            position: absolute;
            display: block;
            border-bottom: 1px solid;
            top: 0;
            width: 100%;
            opacity: 0.1;
        }
    }

    .nk-social-friends-avatar img {
        width: 60px;
        height: auto;
        border-radius: 30px;
        margin-right: 25px;
    }

    .nk-social-friends-content {
        flex: 1;
    }

    .nk-social-friends-name {
        font-size: 1.2rem;
        font-weight: bold;

        a {
            color: inherit;
            text-decoration: none;
            transition: .3s color;

            &:hover {
                color: darken($color_gray_4, 35%);
            }
        }
    }

    .nk-social-friends-meta {
        font-size: 0.9em;
        opacity: 0.6;
    }

    .nk-social-friends-info {
        float: left;
        width: 60%;
    }

    .nk-social-friends-actions {
        text-align: right;
        float: right;
    }
}


/* User Groups */
.nk-social-groups {
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
        position: relative;
        display: flex;
    }

    > li + li {
        margin-top: 30px;
        padding-top: 30px;

        &:before {
            content: '';
            position: absolute;
            display: block;
            border-bottom: 1px solid;
            top: 0;
            width: 100%;
            opacity: 0.1;
        }
    }

    .nk-social-groups-avatar img {
        width: 60px;
        height: auto;
        border-radius: 30px;
        margin-right: 25px;
    }

    .nk-social-groups-content {
        flex: 1;
    }

    .nk-social-groups-name {
        font-size: 1.2rem;
        font-weight: bold;

        a {
            color: inherit;
            text-decoration: none;
            transition: .3s color;

            &:hover {
                color: darken($color_gray_4, 35%);
            }
        }
    }

    .nk-social-groups-meta,
    .nk-social-groups-actions-meta {
        font-size: 0.9em;
        opacity: 0.6;
    }

    .nk-social-groups-description {
        margin-top: 15px;
        font-size: 0.9em;
    }

    .nk-social-groups-info {
        float: left;
        width: 60%;
    }

    .nk-social-groups-actions {
        text-align: right;
        float: right;
    }
}

/* Settings */
.nk-social-settings-table {
    .nk-social-settings-table-title {
        width: 75%;
    }
    .nk-social-settings-table-check {
        width: 40px;
        text-align: center;
    }
}