// main colors
$color_main_1: #e08821;
$color_main_2: #39a228;
$color_main_3: #2953b1;
$color_main_4: #7c34a8;
$color_main_5: #c82e2e;

// bootstrap colors
$color_primary: #0275D8;
$color_success: #5CB85C;
$color_info: #5BC0DE;
$color_warning: #F0AD4E;
$color_danger: #D9534F;

// dark colors
$color_dark_1: #0e0e0e;
$color_dark_2: lighten($color_dark_1, 4%);
$color_dark_3: lighten($color_dark_1, 8%);
$color_dark_4: lighten($color_dark_1, 12%);

// gray colors
$color_gray_1: #FAFAFA;
$color_gray_2: darken($color_gray_1, 1%);
$color_gray_3: darken($color_gray_1, 2%);
$color_gray_4: darken($color_gray_1, 3%);

// main colors list
$colors: (
    "main-1"  : $color_main_1,
    "main-2"  : $color_main_2,
    "main-3"  : $color_main_3,
    "main-4"  : $color_main_4,
    "main-5"  : $color_main_5,
    "primary" : $color_primary,
    "success" : $color_success,
    "info"    : $color_info,
    "warning" : $color_warning,
    "danger"  : $color_danger,
    "white"   : #fff,
    "black"   : #000,
    "dark-1"  : $color_dark_1,
    "dark-2"  : $color_dark_2,
    "dark-3"  : $color_dark_3,
    "dark-4"  : $color_dark_4,
    "gray-1"  : $color_gray_1,
    "gray-2"  : $color_gray_2,
    "gray-3"  : $color_gray_3,
    "gray-4"  : $color_gray_4
);

// page nav
$page_nav_width: 190px;
$page_nav_height: 130px;
$page_nav_arrow_width: 30px;
$page_nav_2_width: 340px;
$page_nav_2_height: 130px;
$page_nav_2_arrow_width: 30px;

// audio player
$audio_player_height: 62px;
$audio_player_playlist_height: 250px;
$audio_player_mobile_height: 170px;

// fonts
$font_headings: 'Marcellus SC', serif;
$font_body: 'Roboto Condensed', sans-serif;
$font_buttons: 'Marcellus SC', serif;
$font_nav_items: 'Marcellus SC', serif;
$html_font_size: 16px;
$body_line_height: 1.7;

// media variables
$media_xxs:           '(max-width: 575px)';
$media_xs:            '(max-width: 767px)';
$media_sm:            '(min-width: 767px) and (max-width: 991px)';
$media_md:            '(min-width: 992px) and (max-width: 1199px)';
$media_lg:            '(min-width: 1200)';

// additional variables
$media_smaller_xs:    '(max-width: 767px)';
$media_smaller_sm:    '(max-width: 991px)';
$media_smaller_md:    '(max-width: 1199px)';
$media_larger_xs:     '(min-width: 576px)';
$media_larger_sm:     '(min-width: 768px)';
$media_larger_md:     '(min-width: 992px)';
$media_larger_lg:     '(min-width: 1200px)';
